 <h1> <center> Manipulación y Procesamiento de Datos </center> </h1>

<h2> Archivos </h2>

<p> De acuerdo a la documentación de <a href="https://pandas.pydata.org/pandas-docs/stable/reference/io.html"> Pandas</a> es posible importar distintos tipos de archivos, por ejemplo:</p>
<ul>
    <li> Archivos planos: Son archivos compuestos por caracteres sin formato, por lo general son los archivos .txt </li>
    <li> Archivos .csv o .tsv: Son archivos en los que las filas estan separadas por espacios tabulados, y las columans por comas </li>
</ul>
<br></br>
<b> Nota: </b> Muchas de las bases de datos que trabajaremos de aquí en adelantes se encuentran en los repositorios de <a href="http://mlr.cs.umass.edu/ml/"> UCI</a> y <a href="https://www.quandl.com"> QUANDL</a>, entre otros que en su oportunidad iremos comentando

In [2]:
import pandas as pd

In [18]:
## En este caso importaremos un archivo Excel y un archivo csv
df   = pd.read_excel('mpg.xlsx')
data = pd.read_csv('mpg.csv', sep = ";")
print(df.head(), "\n\n\n")
print(df.dtypes, "\n\n\n")
print(data.head(), "\n\n\n")
print(df.dtypes, "\n\n\n")
#dir(data)

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70
3  16.0          8         304.0      150.0  3433.0          12.0          70
4  17.0          8         302.0      140.0  3449.0          10.5          70

   origin                     car name
0       1  "chevrolet chevelle malibu"
1       1          "buick skylark 320"
2       1         "plymouth satellite"
3       1              "amc rebel sst"
4       1                "ford torino"



mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object



    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70
3  16.0          8         304.0      150.0  3433.0          12.0          70
4  17.0          8         302.0      140.0  3449.0          10.5          70

   origin                     car name
0       1  "chevrolet chevelle malibu"
1       1          "buick skylark 320"
2       1         "plymouth satellite"
3       1              "amc rebel sst"
4       1                "ford torino"



mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

<h2> Limpieza de bases de datos </h2>
<br></br>
<p>Por lo general, la limpieza se centra en trabajar con los datos vacíos, y es que en ocasiones las fuentes de información vienen incompletas por múltiples causas, por ejemplo: problemas de digitalización, problemas de ETL, entre otras razones.</p>

<p>En los siguientes casos vamos a tener una submuestra de la base <i>mpg</i> en la cual va a presentar los siguientes casos:</p>
<ul>
    <li> Valores pérdidos estándar </li>
    <li> Valores pérdidos no estándar </li>
    <li> Valores inesperados </li>
</ul>

In [23]:
df   = pd.read_excel('mpg_clean.xlsx')
print(df)

     mpg cylinders  displacement  horsepower weight  acceleration  model year  \
0   18.0        c8         307.0       130.0   3504          12.0        70.0
1   15.0        b8         350.0       165.0   3693          11.5        70.0
2   18.0        p8         318.0       150.0   3436          11.0        70.0
3   16.0        a8         304.0       150.0   3433          12.0        70.0
4   17.0        f8         302.0       140.0   3449          10.5        70.0
5   15.0        f8         429.0         NaN   4341          10.0        70.0
6   14.0        c8         454.0       220.0   4354           9.0        70.0
7   14.0        p8         440.0       215.0   4312           NaN         NaN
8   14.0        p8         455.0       225.0   4425          10.0        70.0
9   15.0        a8         390.0       190.0   3850           8.5        70.0
10  15.0        d8         383.0       170.0   3563          10.0        70.0
11  14.0        p8         340.0       160.0   3609           8.0        70.0
12  15.0        c8           NaN       150.0   3761           9.5        70.0
13  14.0        b8         455.0       225.0   3086          10.0        70.0
14  24.0        t4         113.0        95.0   2372          15.0         NaN
15  22.0        p6         198.0        95.0   2833          15.5        70.0
16  18.0        a6         199.0        97.0   2774           NaN        70.0
17  21.0        f6         200.0        85.0     na          16.0        70.0
18  27.0        d4          97.0        88.0   2130          14.5        70.0
19  26.0        v4          97.0        46.0   1835          20.5        70.0
20  25.0        p4         110.0        87.0   2672          17.5        70.0

   origin                        car name
0       1     "chevrolet chevelle malibu"
1       1             "buick skylark 320"
2       1            "plymouth satellite"
3       1                 "amc rebel sst"
4       1                   "ford torino"
5       1              "ford galaxie 500"
6       1              "chevrolet impala"
7       1             "plymouth fury iii"
8       1              "pontiac catalina"
9       1            "amc ambassador dpl"
10      1           "dodge challenger se"
11      1            "plymouth 'cuda 340"
12      1         "chevrolet monte carlo"
13      1       "buick estate wagon (sw)"
14      3         "toyota corona mark ii"
15      1               "plymouth duster"
16     --                    "amc hornet"
17      1                 "ford maverick"
18      3                              12
19      2  "volkswagen 1131 deluxe sedan"
20      2                   "peugeot 504"

In [24]:
df.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,True,True,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,True,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,True,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,True,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False

In [33]:
## Identificar los missing values
mv = ['na','--','n/a']
df   = pd.read_excel('mpg_clean.xlsx', na_values= mv)
print(df)

     mpg cylinders  displacement  horsepower  weight  acceleration  \
0   18.0        c8         307.0       130.0  3504.0          12.0
1   15.0        b8         350.0       165.0  3693.0          11.5
2   18.0        p8         318.0       150.0  3436.0          11.0
3   16.0        a8         304.0       150.0  3433.0          12.0
4   17.0        f8         302.0       140.0  3449.0          10.5
5   15.0        f8         429.0         NaN  4341.0          10.0
6   14.0        c8         454.0       220.0  4354.0           9.0
7   14.0        p8         440.0       215.0  4312.0           NaN
8   14.0        p8         455.0       225.0  4425.0          10.0
9   15.0        a8         390.0       190.0  3850.0           8.5
10  15.0        d8         383.0       170.0  3563.0          10.0
11  14.0        p8         340.0       160.0  3609.0           8.0
12  15.0        c8           NaN       150.0  3761.0           9.5
13  14.0        b8         455.0       225.0  3086.0          10.0
14  24.0        t4         113.0        95.0  2372.0          15.0
15  22.0        p6         198.0        95.0  2833.0          15.5
16  18.0        a6         199.0        97.0  2774.0           NaN
17  21.0        f6         200.0        85.0     NaN          16.0
18  27.0        d4          97.0        88.0  2130.0          14.5
19  26.0        v4          97.0        46.0  1835.0          20.5
20  25.0        p4         110.0        87.0  2672.0          17.5

    model year  origin                        car name
0         70.0     1.0     "chevrolet chevelle malibu"
1         70.0     1.0             "buick skylark 320"
2         70.0     1.0            "plymouth satellite"
3         70.0     1.0                 "amc rebel sst"
4         70.0     1.0                   "ford torino"
5         70.0     1.0              "ford galaxie 500"
6         70.0     1.0              "chevrolet impala"
7          NaN     1.0             "plymouth fury iii"
8         70.0     1.0              "pontiac catalina"
9         70.0     1.0            "amc ambassador dpl"
10        70.0     1.0           "dodge challenger se"
11        70.0     1.0            "plymouth 'cuda 340"
12        70.0     1.0         "chevrolet monte carlo"
13        70.0     1.0       "buick estate wagon (sw)"
14         NaN     3.0         "toyota corona mark ii"
15        70.0     1.0               "plymouth duster"
16        70.0     NaN                    "amc hornet"
17        70.0     1.0                 "ford maverick"
18        70.0     3.0                              12
19        70.0     2.0  "volkswagen 1131 deluxe sedan"
20        70.0     2.0                   "peugeot 504"

In [34]:
# Número de valores pérdidos
df.isnull().sum()

mpg             0
cylinders       0
displacement    1
horsepower      1
weight          1
acceleration    2
model year      2
origin          1
car name        0
dtype: int64

In [36]:
df.dtypes

mpg             float64
cylinders        object
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model year      float64
origin          float64
car name         object
dtype: object

<p> Existen distintas formas de reemplazar los valores pérdidos, podemos reemplazarlos con el valor de la media, mediana o moda, para datos númericos, moda para datos string o categóricos, o eliminar el registro </p>

In [49]:
null1 = df['displacement'].mean()
null2 = df['horsepower'].median()
null3 = df['weight'].median()
null4 = df['model year'].mode()
null5 = df['acceleration'].median()
null6 = df['acceleration'].mode()

print('\\',null1,null2,null3,null4,null5,null6)

df['displacement'].fillna(null1, inplace = True)
df['horsepower'].fillna(null2, inplace = True)
df['weight'].fillna(null3, inplace = True)
df['model year'].fillna(null4, inplace = True)
df['acceleration'].fillna(null5, inplace = True)
df['acceleration'].fillna(null6, inplace = True)

 297.05 150.0 3476.5 70.0 11.0 1

In [31]:
print(df)

     mpg cylinders  displacement  horsepower  weight  acceleration  \
0   18.0        c8        307.00       130.0  3504.0          12.0
1   15.0        b8        350.00       165.0  3693.0          11.5
2   18.0        p8        318.00       150.0  3436.0          11.0
3   16.0        a8        304.00       150.0  3433.0          12.0
4   17.0        f8        302.00       140.0  3449.0          10.5
5   15.0        f8        429.00       150.0  4341.0          10.0
6   14.0        c8        454.00       220.0  4354.0           9.0
7   14.0        p8        440.00       215.0  4312.0          11.0
8   14.0        p8        455.00       225.0  4425.0          10.0
9   15.0        a8        390.00       190.0  3850.0           8.5
10  15.0        d8        383.00       170.0  3563.0          10.0
11  14.0        p8        340.00       160.0  3609.0           8.0
12  15.0        c8        297.05       150.0  3761.0           9.5
13  14.0        b8        455.00       225.0  3086.0          10.0
14  24.0        t4        113.00        95.0  2372.0          15.0
15  22.0        p6        198.00        95.0  2833.0          15.5
16  18.0        a6        199.00        97.0  2774.0          11.0
17  21.0        f6        200.00        85.0  3476.5          16.0
18  27.0        d4         97.00        88.0  2130.0          14.5
19  26.0        v4         97.00        46.0  1835.0          20.5
20  25.0        p4        110.00        87.0  2672.0          17.5

    model year  origin                        car name
0         70.0     1.0     "chevrolet chevelle malibu"
1         70.0     1.0             "buick skylark 320"
2         70.0     1.0            "plymouth satellite"
3         70.0     1.0                 "amc rebel sst"
4         70.0     1.0                   "ford torino"
5         70.0     1.0              "ford galaxie 500"
6         70.0     1.0              "chevrolet impala"
7          NaN     1.0             "plymouth fury iii"
8         70.0     1.0              "pontiac catalina"
9         70.0     1.0            "amc ambassador dpl"
10        70.0     1.0           "dodge challenger se"
11        70.0     1.0            "plymouth 'cuda 340"
12        70.0     1.0         "chevrolet monte carlo"
13        70.0     1.0       "buick estate wagon (sw)"
14         NaN     3.0         "toyota corona mark ii"
15        70.0     1.0               "plymouth duster"
16        70.0     NaN                    "amc hornet"
17        70.0     1.0                 "ford maverick"
18        70.0     3.0                              12
19        70.0     2.0  "volkswagen 1131 deluxe sedan"
20        70.0     2.0                   "peugeot 504"