 <h1> <center> Manejo de Bases de Datos </center> </h1>

<h2> Archivos </h2>

<p> De acuerdo a la documentación de <a href="https://pandas.pydata.org/pandas-docs/stable/reference/io.html"> Pandas</a> es posible importar distintos tipos de archivos, por ejemplo:</p>
<ul>
    <li> Archivos planos: Son archivos compuestos por caracteres sin formato, por lo general son los archivos .txt </li>
    <li> Archivos .csv o .tsv: Son archivos en los que las filas estan separadas por espacios tabulados, y las columans por comas </li>
</ul>
<br></br>
<b> Nota: </b> Muchas de las bases de datos que trabajaremos de aquí en adelantes se encuentran en los repositorios de <a href="http://mlr.cs.umass.edu/ml/"> UCI</a> y <a href="https://www.quandl.com"> QUANDL</a>, entre otros que en su oportunidad iremos comentando

In [2]:
import pandas as pd
import numpy as np
import openpyxl as oxl

In [3]:
## En este caso importaremos un archivo Excel y un archivo csv
df   = pd.read_excel('mpg.xlsx','HojaDatos')
data = pd.read_csv('mpg.csv', sep = ";")
print(df.head(), "\n\n\n")
print(df.dtypes, "\n\n\n")
print(data.head(), "\n\n\n")
print(df.dtypes, "\n\n\n")
#dir(data)

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model year  origin                     car name
0          70       1  "chevrolet chevelle malibu"
1          70       1          "buick skylark 320"
2          70       1         "plymouth satellite"
3          70       1              "amc rebel sst"
4          70       1                "ford torino"



mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object



    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70
3  16.0          8         304.0      150.0  3433.0          12.0          70
4  17.0          8         302.0      140.0  3449.0          10.5          70

   origin                     car name
0       1  "chevrolet chevelle malibu"
1       1          "buick skylark 320"
2       1         "plymouth satellite"
3       1              "amc rebel sst"
4       1                "ford torino"



mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

Podemos transformar el tipo de campo que tiene nuestra base de datos, por ejemplo:

In [ ]:
df["horsepower"].astype(str)
print(df.dtypes, "\n\n\n")

In [ ]:
#df["horsepower"].astype(float)
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
print(df.dtypes, "\n\n\n")

<h2> Limpieza de bases de datos </h2>
<br></br>
<p>Por lo general, la limpieza se centra en trabajar con los datos vacíos, y es que en ocasiones las fuentes de información vienen incompletas por múltiples causas, por ejemplo: problemas de digitalización, problemas de ETL, entre otras razones.</p>

<p>En los siguientes casos vamos a tener una submuestra de la base <i>mpg</i> en la cual va a presentar los siguientes casos:</p>
<ul>
    <li> Valores pérdidos estándar </li>
    <li> Valores pérdidos no estándar </li>
    <li> Valores inesperados </li>
</ul>

In [4]:
df   = pd.read_excel('mpg_clean.xlsx')
print(df)

     mpg cylinders  displacement  horsepower weight  acceleration  model year  \
0   18.0        c8         307.0       130.0   3504          12.0        70.0
1   15.0        b8         350.0       165.0   3693          11.5        70.0
2   18.0        p8         318.0       150.0   3436          11.0        70.0
3   16.0        a8         304.0       150.0   3433          12.0        70.0
4   17.0        f8         302.0       140.0   3449          10.5        70.0
5   15.0        f8         429.0         NaN   4341          10.0        70.0
6   14.0        c8         454.0       220.0   4354           9.0        70.0
7   14.0        p8         440.0       215.0   4312           NaN         NaN
8   14.0        p8         455.0       225.0   4425          10.0        70.0
9   15.0        a8         390.0       190.0   3850           8.5        70.0
10  15.0        d8         383.0       170.0   3563          10.0        70.0
11  14.0        p8         340.0       160.0   3609           8.0        70.0
12  15.0        c8           NaN       150.0   3761           9.5        70.0
13  14.0        b8         455.0       225.0   3086          10.0        70.0
14  24.0        t4         113.0        95.0   2372          15.0         NaN
15  22.0        p6         198.0        95.0   2833          15.5        70.0
16  18.0        a6         199.0        97.0   2774           NaN        70.0
17  21.0        f6         200.0        85.0     na          16.0        70.0
18  27.0        d4          97.0        88.0   2130          14.5        70.0
19  26.0        v4          97.0        46.0   1835          20.5        70.0
20  25.0        p4         110.0        87.0   2672          17.5        70.0
21  22.0        p6         198.0        95.0   2833          15.5        70.0
22  18.0        a6         199.0        97.0   2774           NaN        70.0
23  21.0        f6         200.0        85.0     na          16.0        70.0
24  27.0        d4          97.0        88.0   2130          14.5        70.0
25  26.0        v4          97.0        46.0   1835          20.5        70.0
26  25.0        p4         110.0        87.0   2672          17.5        70.0

   origin                        car name
0       1     "chevrolet chevelle malibu"
1       1             "buick skylark 320"
2       1            "plymouth satellite"
3       1                 "amc rebel sst"
4       1                   "ford torino"
5       1              "ford galaxie 500"
6       1              "chevrolet impala"
7       1             "plymouth fury iii"
8       1              "pontiac catalina"
9       1            "amc ambassador dpl"
10      1           "dodge challenger se"
11      1            "plymouth 'cuda 340"
12      1         "chevrolet monte carlo"
13      1       "buick estate wagon (sw)"
14      3         "toyota corona mark ii"
15      1               "plymouth duster"
16     --                    "amc hornet"
17      1                 "ford maverick"
18      3                              12
19      2  "volkswagen 1131 deluxe sedan"
20      2                   "peugeot 504"
21      1               "plymouth duster"
22     --                    "amc hornet"
23      1                 "ford maverick"
24      3                              12
25      2  "volkswagen 1131 deluxe sedan"
26      2                   "peugeot 504"

In [5]:
df.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,True,True,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,True,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,True,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,True,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,True,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False

In [6]:
## Identificar los missing values
mv = ['na','--','n/a']
df   = pd.read_excel('mpg_clean.xlsx', na_values= mv)
print(df)

     mpg cylinders  displacement  horsepower  weight  acceleration  \
0   18.0        c8         307.0       130.0  3504.0          12.0
1   15.0        b8         350.0       165.0  3693.0          11.5
2   18.0        p8         318.0       150.0  3436.0          11.0
3   16.0        a8         304.0       150.0  3433.0          12.0
4   17.0        f8         302.0       140.0  3449.0          10.5
5   15.0        f8         429.0         NaN  4341.0          10.0
6   14.0        c8         454.0       220.0  4354.0           9.0
7   14.0        p8         440.0       215.0  4312.0           NaN
8   14.0        p8         455.0       225.0  4425.0          10.0
9   15.0        a8         390.0       190.0  3850.0           8.5
10  15.0        d8         383.0       170.0  3563.0          10.0
11  14.0        p8         340.0       160.0  3609.0           8.0
12  15.0        c8           NaN       150.0  3761.0           9.5
13  14.0        b8         455.0       225.0  3086.0          10.0
14  24.0        t4         113.0        95.0  2372.0          15.0
15  22.0        p6         198.0        95.0  2833.0          15.5
16  18.0        a6         199.0        97.0  2774.0           NaN
17  21.0        f6         200.0        85.0     NaN          16.0
18  27.0        d4          97.0        88.0  2130.0          14.5
19  26.0        v4          97.0        46.0  1835.0          20.5
20  25.0        p4         110.0        87.0  2672.0          17.5
21  22.0        p6         198.0        95.0  2833.0          15.5
22  18.0        a6         199.0        97.0  2774.0           NaN
23  21.0        f6         200.0        85.0     NaN          16.0
24  27.0        d4          97.0        88.0  2130.0          14.5
25  26.0        v4          97.0        46.0  1835.0          20.5
26  25.0        p4         110.0        87.0  2672.0          17.5

    model year  origin                        car name
0         70.0     1.0     "chevrolet chevelle malibu"
1         70.0     1.0             "buick skylark 320"
2         70.0     1.0            "plymouth satellite"
3         70.0     1.0                 "amc rebel sst"
4         70.0     1.0                   "ford torino"
5         70.0     1.0              "ford galaxie 500"
6         70.0     1.0              "chevrolet impala"
7          NaN     1.0             "plymouth fury iii"
8         70.0     1.0              "pontiac catalina"
9         70.0     1.0            "amc ambassador dpl"
10        70.0     1.0           "dodge challenger se"
11        70.0     1.0            "plymouth 'cuda 340"
12        70.0     1.0         "chevrolet monte carlo"
13        70.0     1.0       "buick estate wagon (sw)"
14         NaN     3.0         "toyota corona mark ii"
15        70.0     1.0               "plymouth duster"
16        70.0     NaN                    "amc hornet"
17        70.0     1.0                 "ford maverick"
18        70.0     3.0                              12
19        70.0     2.0  "volkswagen 1131 deluxe sedan"
20        70.0     2.0                   "peugeot 504"
21        70.0     1.0               "plymouth duster"
22        70.0     NaN                    "amc hornet"
23        70.0     1.0                 "ford maverick"
24        70.0     3.0                              12
25        70.0     2.0  "volkswagen 1131 deluxe sedan"
26        70.0     2.0                   "peugeot 504"

In [7]:
# Número de valores pérdidos
df.isnull().sum()

mpg             0
cylinders       0
displacement    1
horsepower      1
weight          2
acceleration    3
model year      2
origin          2
car name        0
dtype: int64

In [8]:
df.dtypes

mpg             float64
cylinders        object
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model year      float64
origin          float64
car name         object
dtype: object

<p> Existen distintas formas de reemplazar los valores pérdidos, podemos reemplazarlos con el valor de la media, mediana o moda, para datos númericos, moda para datos string o categóricos, o eliminar el registro </p>

In [9]:
null1 = df['displacement'].mean()
null2 = df['horsepower'].median()
null3 = df['weight'].median()
null4 = df['model year'].mean()
null5 = df['acceleration'].median()
null6 = int(df['origin'].mode())

print('\n',null1,null2,null3,null4,null5,null6,'\n')

 263.15384615384613 113.5 3433.0 70.0 12.0 1

In [10]:
df['displacement'].fillna(null1, inplace = True)
df['horsepower'].fillna(null2, inplace = True)
df['weight'].fillna(null3, inplace = True)
df['model year'].fillna(null4, inplace = True)
df['acceleration'].fillna(null5, inplace = True)
df['origin'].fillna(null6, inplace = True)
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

<p>Si revisamos, la variable <i>cylinders</i> presenta un error, y es que en la primera posición poseen caracteres alfabéticos, para ello debemos realizar una transformación adicional</p>

In [11]:
df['cylinders'] = df['cylinders'].map(lambda x: x.lstrip('aAbBcCdvpft'))
df['cylinders']

0     8
1     8
2     8
3     8
4     8
5     8
6     8
7     8
8     8
9     8
10    8
11    8
12    8
13    8
14    4
15    6
16    6
17    6
18    4
19    4
20    4
21    6
22    6
23    6
24    4
25    4
26    4
Name: cylinders, dtype: object

<p> Si revisamos el campo de <i> car name </i> encontramos que hay registros numéricos que no son coherentes con el registro, por tanto, al ser la "llave", tenemos que eliminar el registro</p>

In [ ]:
print(df['car name'])
df = df.drop([18, 24])
print(df)

In [14]:
df['car name'].unique

<bound method Series.unique of 0        "chevrolet chevelle malibu"
1                "buick skylark 320"
2               "plymouth satellite"
3                    "amc rebel sst"
4                      "ford torino"
5                 "ford galaxie 500"
6                 "chevrolet impala"
7                "plymouth fury iii"
8                 "pontiac catalina"
9               "amc ambassador dpl"
10             "dodge challenger se"
11              "plymouth 'cuda 340"
12           "chevrolet monte carlo"
13         "buick estate wagon (sw)"
14           "toyota corona mark ii"
15                 "plymouth duster"
16                      "amc hornet"
17                   "ford maverick"
18                                12
19    "volkswagen 1131 deluxe sedan"
20                     "peugeot 504"
21                 "plymouth duster"
22                      "amc hornet"
23                   "ford maverick"
24                                12
25    "volkswagen 1131 deluxe sedan"
26                     "peugeot 504"
Name: car name, dtype: object>

<h2> Consultas </h2>
<p> Al poseer grandes fuentes de información, es necesario aplicar ciertas funciones sobre nuestras bases de datos que nos permitan visualizar:</p>
<ul>
    <li> Llave única</li>
    <li> Medidas de tendencia de un campo </li>
    <li> Total de un campo</li>
    <li> Ordenar la base de datos </li>
    <li> Eliminar duplicados </li>
    <li> Contar valores únicos </li>
</ul>

In [ ]:
print(df.dtypes, "\n\n\n")
df['cylinders'] = pd.to_numeric(df['cylinders'], errors='coerce')
print(df.dtypes, "\n\n\n")
print('\n SUMA \n\n',df.apply(np.sum),'\n\n')
print('\n MEDIA \n\n',df.iloc[:,0:8].apply(np.mean),'\n\n')
print('\n MEDIANA \n\n',df.iloc[:,0:8].apply(np.median),'\n\n')
print('\n MODA \n\n',df['car name'].mode(),'\n\n')

Tambien es posible ordenar la base de datos, y eliminar aquellos registros que esten duplicados

In [ ]:
# Ordenar la base de datos
print('\n ORDENAR POR AÑO \n\n',df.sort_values(by=['model year'], ascending=False),'\n\n')
print('\n ORDENAR POR AÑO Y PESO \n\n',df.sort_values(by=['model year','weight']),'\n\n')
print('\n ¿HAY DUPLICADOS? \n\n',df.duplicated(),'\n\n')
print('\n ELIMINAR DUPLICADOS \n\n',df.drop_duplicates(),'\n\n')
print('\n ELIMINAR DUPLICADOS POR COLUMNAS \n\n',df.drop_duplicates(['mpg']),'\n\n')
df = df.drop_duplicates()

In [ ]:
print(df)

También podemos contar valores únicos, de la siguiente manera:

In [ ]:
print('\n\n CONTAR VALORES ÚNICOS \n\n',df.nunique(),'\n\n')
print('\n\n CONTAR VALORES ÚNICOS \n\n',df.count(),'\n\n')

<h2> Combinar, unir y concatenar </h2>
<br></br>
<p> En el momento de manejar distintas bases de datos, es importante conocer como podemos obtener información de cada una de ellas</p>
<p> En esta sección veremos como combinar, unir y concatenar bases de datos </p>
<ul>
    <li> Para concatenar un marco de datos, utilizamos la función .concat(), esta función concatena un marco de datos y devuelve un nuevo marco de datos</li>
    <li> Para concatenar un marco de datos, utilizamos la función .append() esta función concatena a lo largo del eje = 0, es decir, el índice. </li>
    <li> Para juntar bases de datos utilizamos la función .merge()</li>
 </ul>

<p> Para estos ejercicios tomaremos tres tipos de bases diferentes que nos permitan combinar, unir y juntar. También ubicaremos la llave </p>

In [15]:
## Bases de datos
df = pd.read_excel('mpg.xlsx','HojaDatos')
print(df.shape)
# Separar en subconjuntos de índices
df1 = df.iloc[0:199]
df2 = df.iloc[200:398]
# Separar en columnas
df3 = df.iloc[0:10,[0,1,2,3,4,8]]
df4 = df.iloc[0:13,[5,6,7,8]]
print('\n\n CONTAR VALORES ÚNICOS \n\n',df.nunique(),'\n\n')
print('\n\n CONTAR VALORES ÚNICOS \n\n',df.count(),'\n\n')

(301, 9)


 CONTAR VALORES ÚNICOS

 mpg             109
cylinders         5
displacement     77
horsepower       87
weight          275
acceleration     90
model year       13
origin            3
car name        301
dtype: int64




 CONTAR VALORES ÚNICOS

 mpg             301
cylinders       301
displacement    301
horsepower      301
weight          301
acceleration    301
model year      301
origin          301
car name        301
dtype: int64

In [ ]:
# Concatenación
df5 = pd.concat([df1,df2]) # , ignore_index=True
df6 = pd.concat([df1,df2],keys=['train', 'test'])
print(df5.shape,'\n\n')
print(df6,'\n\n')

df5 = df1.append(df2)
print(df5.shape)

<h3> Uniones </h3>
<p> Las uniones consisten en combinaciones de dos bases de datos con el uso de una llave, que por buena práctica, en al menos una de las bases debe ser única. </p> 
<p> Con este tipo de acciones podemos agregar información, buscar información relevante y estructurar los datos </p>
<br></br>
<img src= 'merge.png',width=400,heigth=1000, alt="Flowers in Chania">
<center> <i> Imagen tomada de <a href="https://www.geeksforgeeks.org/python-pandas-merging-joining-and-concatenating/"> geeksforgeeks</a> </i></center>

In [ ]:
union1 = pd.merge(df3, df4, on='car name')
union1

In [ ]:
union2 = pd.merge(df3, df4, how='left', on=['car name'])
union3 = pd.merge(df3, df4, how='right',  on=['car name'])
union4 = pd.merge(df3, df4, how='inner',  on=['car name'])
union5 = pd.merge(df3, df4, how='outer',  on=['car name'])

<h3> Exportar base </h3>
<p>Al trabajar con bases de datos, en muchas ocasiones necesitamos exportar los resultados para utilizarla en otros entornos, por espacio, por eficiencia, o por otros criterios.</p>
<p> En este caso exportaremos la base de datos en 3 escenarios: </p>
<ul>
    <li> .txt </li>
    <li> .csv </li>
    <li> .xlsx </li>
</ul>

In [ ]:
df.to_excel("mpg1.xlsx", "Sheet1")
df.to_csv("mpg1.csv")
df.to_csv("mpg1.txt")